<h3 style="text-align: center;color:white">Driver Details</h3>


<div  style="background-color:black; margin-top: 50px;padding-left: 100px;padding-top: 50px; padding-bottom: 50px;color: white;opacity: 70%;margin-left: 550px;margin-right: 10px;margin-bottom: 100px;width: 400px;border-style: dashed;border-color: aquamarine;">
    
    <div>
        <label> <b> DriverName: </b></label> {{driver.name}}
    </div>
    <div>
        <label> <b> Age: </b></label> {{driver.age}}
    </div>
    <div>
        <label> <b> Email: </b></label> {{driver.driverEmail}}
    </div>
    <div>
        <label> <b> IdProofNo: </b></label> {{driver.idProofNo}}
    </div>
    <div>
        <label> <b> Mobile: </b></label> {{driver.mobileNo}}
    </div>
   


   


</div>